<% if policy(Vote.new).create? %>
  <div class="pull-left vote-arrows">
    <div>
      <%= link_to "", 
        post_up_vote_path(post), 
        class: "glyphicon glyphicon-chevron-up #{(post.already_up_voted_by_user?(current_user)) ? 'voted' : ''} ", method: post%></div>
    <div><strong><%= post.points %></strong></div>
    <div><%= link_to "", post_down_vote_path(post), 
    class: "glyphicon glyphicon-chevron-down #{(post.already_down_voted_by_user?(current_user))  ? 'voted' : ''}", method: post%></div>
  </div>
<% end %>